{
  "singleQuote": false,
  "semi": false,
  "vueIndentScriptAndStyle": true,
  "printWidth": 100,
  "tabWidth": 2,
  "extends": [
    "plugin:vue/vue3-recommended",
    "eslint:recommended",
    "@vue/typescript/recommended",
    "@vue/prettier",
    "@vue/prettier/@typescript-eslint"
  ]
}
